<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Oleg's Computer Shop</title>
    <script>
        function purchaseMessage(inv) {
            if (inv == 0){
                alert("Purchase Failed");
            }
            else{
                alert("Purchase Confirmed");
            }

        }
    </script>
</head>
<body>

<div class="container">
    <h1>Oleg's Computer Shop</h1>
    <a th:href="@{/showAbout}" class="btn btn-primary btn-sm mb-3">About</a>
    <hr>
    <h2>Parts</h2>
    <form th:action="@{/mainscreen}">
        Filter: <input type="text" name="partkeyword" id="partkeyword" size="50" th:value="${partkeyword}" required />
        &nbsp;
        <input type="submit" value="Search" />
        &nbsp;
        <input type="button" value="Clear" id="btnClearPart" onclick="clearSearch()" />
    </form>
    <br><br>
    <a th:href="@{/showFormAddInPart}" class="btn btn-primary btn-sm mb-3">Add Inhouse Part</a>
    <a th:href="@{/showFormAddOutPart}" class="btn btn-primary btn-sm mb-3">Add Outsourced Part</a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Inventory</th>
            <th>Max Inventory</th>
            <th>Min Inventory</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempPart : ${parts}">
            <td th:text="${tempPart.name}">1</td>
            <td th:text="${tempPart.price}">1</td>
            <td th:text="${tempPart.inv}">1</td>

            <td th:text="${tempPart.maxInv}">1</td>
            <td th:text="${tempPart.minInv}">1</td>


            <td><a th:href="@{/showPartFormForUpdate(partID=${tempPart.id})}" class="btn btn-primary btn-sm mb-3">Update</a>
                <a th:href="@{/deletepart(partID=${tempPart.id})}" class="btn btn-primary btn-sm mb-3"
                   onclick="if(!(confirm('Are you sure you want to delete this part?')))return false">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>Products</h2>
    <form th:action="@{/mainscreen}">
        Filter: <input type="text" name="productkeyword" id="productkeyword" size="50" th:value="${productkeyword}" required />
        &nbsp;
        <input type="submit" value="Search" />
        &nbsp;
        <input type="button" value="Clear" id="btnClearProduct" onclick="clearSearch()" />
    </form>
    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/}]]";
        }
    </script>
    <br><br>
    <a th:href="@{/showFormAddProduct}" class="btn btn-primary btn-sm mb-3">Add Product</a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Inventory</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempProduct : ${products}">
            <td th:text="${tempProduct.name}">1</td>
            <td th:text="${tempProduct.price}">1</td>
            <td th:text="${tempProduct.inv}">1</td>
            <td>
                <a th:href="@{/showProductFormForUpdate(productID=${tempProduct.id})}"
                   class="btn btn-primary btn-sm mb-3">Update</a>
                <a th:href="@{/decrementByOne(productID=${tempProduct.id})}"
                   class="btn btn-primary btn-sm mb-3 "
                   th:attr="onclick=|purchaseMessage('${tempProduct.inv}')|" >Buy Now</a>
                <a th:href="@{/deleteproduct(productID=${tempProduct.id})}"
                   class="btn btn-primary btn-sm mb-3"
                   onclick="if(!(confirm('Are you sure you want to delete this product?')))return false">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>