<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Part Form</title>

<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
</head>
<body>
<h1>Product Detail</h1>
<form action="#" th:action="@{/showFormAddProduct}" th:object="${product}" method="POST"}>
    <!-- Add hidden form field to handle update -->
    <p><input type="hidden" th:field="*{id}"/></p>

    <p><input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/></p>

    <p><input type="text" th:field="*{price}" placeholder= "Price" class="form-control mb-4 col-4"/></p>


    <p><input type="text" th:field="*{inv}" placeholder="Inventory" class="form-control mb-4 col-4"/></p>

    <p>
    <div th:if="${#fields.hasAnyErrors()}">
    <ul><li th:each="err: ${#fields.allErrors()}" th:text="${err}"></li></ul>
    </div>
    </p>
    <p><input type="submit" value="Submit" /></p>
</form>


<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <h2>Available Parts</h2>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Inventory</th>
        <th>Action</th>
    </tr>
    </thead>
    <form>
    <tr th:each="tempPart : ${availparts}">
        <td th:text="${tempPart.name}">1</td>
        <td th:text="${tempPart.price}">1</td>
        <td th:text="${tempPart.inv}">1</td>
        <td><a th:href="@{/associatepart(partID=${tempPart.id})}" class="btn btn-primary btn-sm mb-3">Add</a>
        </td>
    </tr>
    </form>
</table>
    <table class="table table-bordered table-striped">
        <h2>Associated Parts</h2>
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Inventory</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempPart : ${assparts}">
            <td th:text="${tempPart.name}">1</td>
            <td th:text="${tempPart.price}">1</td>
            <td th:text="${tempPart.inv}">1</td>
            <td><a th:href="@{/removepart(partID=${tempPart.id})}"  class="btn btn-primary btn-sm mb-3">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>

<!--<footer><a href="http://localhost:8080/">Link-->
<!--    to Main Screen</a></footer>-->
</body>
</html>